.header {
    border-right: solid 3px black;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Source Code Pro", monospace;
    font-size: 50px;
    color: black;
    margin: 0 auto;
  }
  
  /* Animation */
  .header {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 350px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: black;}
    to{border-right-color: transparent;}
  }

.footer{
    p{
        text-align: center;
        color: gray;
    }
}